/Beamer_Template/*.aux
/Beamer_Template/*.bbl
/Beamer_Template/*.log
/Beamer_Template/*.nav
/Beamer_Template/*.out
/Beamer_Template/*.toc
/Beamer_Template/*.xml
/Beamer_Template/*.snm
/Beamer_Template/*.synctex
/Thesis_Template/*.toc
/Thesis_Template/*.lot
/Thesis_Template/*.out
/Thesis_Template/*.xml
/Thesis_Template/*.slg
/Thesis_Template/*.syg
/Thesis_Template/*.syi
/Thesis_Template/*.glg
/Thesis_Template/*.glo
/Thesis_Template/*.gls
/Thesis_Template/*.glsdefs
/Thesis_Template/*.ist
/Thesis_Template/*.lof
/Thesis_Template/*.acn
/Thesis_Template/*.acr
/Thesis_Template/*.alg
/Thesis_Template/*.aux
/Thesis_Template/*.bbl
/Thesis_Template/*.blg
/Thesis_Template/*.log
/Thesis_Template/*.synctex
